#msn{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160vh;
    background-image: url("../img/black.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 0px;
}

#box3{/*BACKGROUND BRANCO (VAMOS CONVERSAR?*/
    left: 50%;
    width: 600px;
    padding: 30px 40px;
    overflow: hidden;
    background: rgba(255,255,255,.7);
    transform: translate(-50%);
	display: inline-block;
	position: absolute;
	align-items: center;
    box-shadow: 0 20px 30px rgba(0,0,0,.7);
    border-radius: 0 0 20px 20px;
}

#box3 h2{/*TITLE BACKGROUN (Vamos Conversar!)*/
	text-align: center;
    margin: 30px 0 30px;
}

#box3 form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form-input, textarea {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #000;
    margin-bottom: 10px;
    font-size: 18px;
}

#box3 .form-input{
    position: relative;
    margin: 10px 0;
}

#box3 input{
	height:45px;
    padding: 1px;
    width: 100%; /*Tamanho do Sublinhado dos texto*/
}

#box3 textarea{
    height: 150px;
    width: 100%;
}

form .submit{
    border-radius: 7px 7px 7px 7px;
    border-color: transparent;
    font-size: 20px;
}

#box3 button{
	background-color: #e91e63;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    height: 40px;
    width: 100%;
}

#box3 button:hover{
	opacity:.85;
    cursor: pointer;
    background: #0090ff;
    font-weight: bold;
}

#box3 .form-input:hover, textarea:hover{
    border-color: #FFF;
}

/*---------------------- MOBILE -----------------------------*/
@media screen and (max-width: 768px){

    #msn{
    height: 232vh;
    }

    #box3{/*BACKGROUND BRANCO*/
        width: 75%;
        overflow: hidden;
        background: #FFF;
        height: 80vh;
        display: inline-block;
        position: absolute;
        align-items: center;
        box-shadow: 0 20px 30px rgba(0,0,0,.7);
    }
}