#servicos{
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80%;
	box-shadow: 0 25px 30px rgba(0,0,0,.7);
}

.clicartela{
	text-decoration: none;
	color: black;
}

.fechartela{
	text-decoration: none;
	color: black;
}

.containerserv{
	width: 85%;
	overflow: hidden;
	background: #FFF;
	margin: 30px auto;
	padding: 50px 0px;
	/*box-shadow: 0 25px 30px rgba(0,0,0,.7);*/
}

.containerserv ul{
	padding: 0px;
	margin: 0px;	
}

.containerserv ul li{
	list-style: none;
	float: left;
	width: 20%;
	height: 200px;
	margin: 80px 10px 15px 40px;
	box-sizing: border-box;
}

.containerserv ul li img{
	margin-top: 15px;
}

.containerserv ul li:hover{
	box-shadow: 0 20px 30px rgba(0,0,0,.7);
	background: rgb(245,245,245);
	border-radius: 10%;
}

.containerserv ul li h3{
	text-align: center;
	margin-top: 15px;
}

.containerserv ul p{
	text-align: justify;
}

.containerserv h2{
	font-size: 60px;
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	position: relative;
	letter-spacing: 8px;
	color: black;
}

@media screen and (max-width: 1250px){/*TELAS MENOR QUE 1250 VAI TER ESSE CSS*/

	#servicos{
		
		height: 120vh;
	}

	.containerserv{
		width: 85%;
		padding: 0px;
	}

	.containerserv ul li{
		width: 40%;
		float-left: 20px;
		margin: 4% 0px 5% 5%;
		margin-right: 5%;
	}
}

@media screen and (max-width: 800px){
	
	#servicos{
		height: 10%;
	}

	.containerserv{
		width: 85%;
		padding: 0px;
	}

	.containerserv ul li{
		float: none;
		width: 80%;
		margin-right: 5%;
		margin: 50px 50px 50px 10%;

	}
}

/*-----------------------------------------------------------------------------------------------------*/

/*Balão de Informação*/
.informacao{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	z-index: 10;
	justify-content: center;
	align-items: center;
	display: none;
}

.balao{
	width: 400px;
	height: 450px;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	padding: 20px;
	position: relative;
}

.balao h3{
	margin-top: 20px;
	font-size: 24px;
	margin-bottom: 20px;
}

.balao p{
	text-align: justify;
	margin-top: 10px;
	text-indent: 30px;
	font-size: 20px;
}


.balao ul li{
	margin-left: 40px;
	text-align: justify;
	font-size: 20px;
}

.close{/*BOTÃO DE FECHAR*/
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 42px;
	transform: rotate(45deg);
	cursor: pointer;
}

/* Animação Balão */
/*
@keyframes modal {
	from {
		opacity: 0;
		transform: translate3d(0, -80px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0 , 0 , 0);
	}
}
*/
