/*REDES SOCIAIS DA NAV-BAR*/
#social_topo-f{
	padding: 5px;
	margin-left: 15px;
   color: #fff;
}
#social_topo-f:hover{
	color: #DBA901;
}
#social_topo-i{
	padding: 5px;
	margin-left: 15px;
   color: #fff;
}
#social_topo-i:hover{
	color: #DBA901;
}
#social_topo-t{
	padding: 5px;
	margin-left: 15px;
   color: #fff;
}
#social_topo-t:hover{
	color: #DBA901;
}
#social_topo-y{
	padding: 5px;
	margin-left: 15px;
   color: #fff;
}
#social_topo-y:hover{
	color: #DBA901;
}
#social_topo-g{
	padding: 5px;
	margin-left: 15px;
   color: #fff;
}
#social_topo-g:hover{
	color: #DBA901;
}
