.container{
	/*position: fixed;
	z-index: -400;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;*/
	position: fixed;
    z-index: -1;
    overflow: hidden;
	margin-top: 0px;
	left: 0;
	top: 0;
}

#vid{
	top: 0;
	left: 0;
	width: 100%;
	align-items: center;
	max-width: 1400px;
	display: flex;
	overflow: hidden;
}

#vid video{
	min-width: 100%;
	min-height: 100%;
}


@media screen and (max-width: 900px){
	#vid{
		width: 120%;
		left: -100;
	}
}

@media screen and (max-width: 600px){
	#vid{
		width: 150%;
	}

	.container{
		margin-left: -200px;
	}
}